Css Properties

1. 원하는 위치에 항목 배치
/*position, float, display
위치에 배치할 때, border을 이용하여 항목에 테두리를 그리고 설계하면 편리하다.
*/

- positon : 항목의 위치 지정
absolute : 절대값 (ex - bottom 0px로 고정 시 바닥에 고정됨)

- display : 요소를 어떻게 보여져야 하는지 결정
속성 값
default :
block - 태그들을 수직으로 배열한다 (한줄에 하나의 태그)
inline - 한줄에 모든 태그들 배열
contents -
flex - 
...
/* 페이지의 inspecting 메뉴 속 element.style의 수정으로 변경된 내용 확인가능 */

- 속성 float
왼쪽, 오른쪽 정렬시 많이 사용
.(class 명){
  float: left; (왼쪽정렬)
  float: right; (오른쪽정렬)
}

  2. <a> tag 밑줄제거
  .(class 명){
  text-decoration: none;
  }

  3. <a> tag 속성
  .(class 명):(속성명){
    /*마우스 오버 시 속성*/
    a:link { (링크 방문 전)
        text-decoration: none;
      }
    
      a:visited { (링크 방문 후)
        text-decoration: none;
      }
    
      a:hover { /*마우스 오버 시 속성*/
        text-decoration: underline; (마우스 오버시 밑줄 발생)
      }
    
      a:active {
        text-decoration: underline; (마우스 클릭 시 밑줄 발생)
      }
  }