body {
  display: contents;
}

.navbar {
  float: right;
  border: 1px solid red;
  margin: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  margin-top: 20px;
}

.nav-item:hover {
  text-decoration: underline;
}

.main {
  margin-top: 300px;
  text-align: center;
}

.input-area {
  margin-top: 20px;
}

.button-area {
  padding-top: 18px;
}

.input-box {
  width: 584px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding-left: 40px;
  padding-right: 40px;
}

.search-icon {
  position: relative;
  left: 40px;
  height: 24px;
  width: 24px;
  color: #9aa0a6
}

.mic-icon {
  position: relative;
  right: 40px;
  color: #9aa0a6
}

.button-style {
  height: 36px;
  margin: 11px 4px;
  padding: 16px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 0 16px;
}

.button-style:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.language-area {
  margin-top: 18px;
}

.language {
  padding: 0 3px;
  text-decoration: none;
  color: #1a0dab;
}

.language:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0px;
  background: #f2f2f2;
  width: 100%;
}

.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

.second-line {
  padding: 15px 30px;
}

.span-item {
  font-size: 15px;
  color: #70757a;
  text-decoration: none;
  margin: 2px;
}

.span-item:hover {
  text-decoration: underline;
}

.second-span {
  float: right;
}